.navbar {
  background: $primary-color;
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 5px solid $secondary-color;

  .navbar-content {
    color: $primary-font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    h1 {
      font-size: 36px;
    }
    @media (max-width: 500px) {
      justify-content: center;
      h1 {
        display: none;
      }
    }
    .navbar-items {
      display: flex;
      a {
        font-size: 16px;
        margin: 0 7.5px;
        cursor: pointer;
        backface-visibility: hidden;
        &:hover {
          backface-visibility: hidden;
          transform: scale(1.048);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
  }
}
